plugins  = Plugin::Titillate, Plugin::Admin, Plugin::Ping
nick     = somebot
username = bot
ircname  = a bot
server   = irc.example.net
port     = 6667
usessl   = 1
sslcert  = foo.crt
sslkey   = foo.key
channels = #saxtalk,#bot
ignore   = trumpetbot,abusiveuser
password = pleffquiffle
admins   = snargle!~kleg@glarg.example.com
must_id  = 1
quit_msg = "Goodbye!"
user     = nobody
group    = nobody
triggers = 'sa+x' => '🎷 ', 'trumpet' => '🎺 ', 'snake' => '🐍 '
prefix_nick = 1
prefix   = %

# URL stuff
url_len  = 0

