plugins  = [ Plugin::Titillate, Plugin::Admin, Plugin::Ping ]
nick     = somebot
username = bot
ircname  = a bot
server   = irc.example.net
port     = 6667
usessl   = 1
sslcert  = foo.crt
sslkey   = foo.key
channels = [ #saxtalk, #bot]
ignore   = [trumpetbot, abusiveuser]
password = pleffquiffle
must_id  = 1
quit_msg = Goodbye!
user     = nobody
group    = nobody
prefix_nick = 1
prefix   = %

[Plugin::Admin]
admins   = [ snargle!~kleg@glarg.example.com ]

[Plugin::Titillate]
triggers = { 'sa+x' => '🎷 ', 'trumpet' => '🎺 ', 'snake' => '🐍 ' }

[Plugin::URL_Title]
url_len  = 0

