nick     = somebot
username = bot
ircname  = a bot
server   = irc.example.net
channels = #saxtalk,#bot
ignore   = trumpetbot,abusiveuser
password = pleffquiffle
admins   = snargle!~kleg@glarg.example.com
must_id  = 1
re      = tr+u, l+e+n+y
rep     = 🎺, ( ͡° ͜ʖ ͡°)
